.container_landing_thumbnail {
  position: relative;
  max-width: 300px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container_landing_thumbnail .content_landing_thumbnail {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.75); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 0px; /* Some padding */
  text-align: center;
}

.content_landing_thumbnail:hover {
  display: none;
}

.clickCaseStudy:hover + .content_landing_thumbnail {
  display: none;
}